<html>
<head>
<title>Create a Post </title>
</head>

<body>
<h1>Create a Post </h1>
<form action="" method="POST">
{% csrf_token %}
Client_name: <input type="text" name="Client_name"/><br/>
Roles: <input type="text" name="Roles"/><br/>
BD_manager: <input type="text" name="BD_manager"/><br/>
Recruiter: <input type="text" name="Recruiter"/><br/>
candidate_name: <input type="text" name="candidate_name"/><br/>
selection: <input type="text" name="selection"/><br/>
<input type="submit" value="Post"/>
</form>
</body>

</html>
